*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  padding: 50px 35px;
  background: teal;
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  align-items: stretch;
}

.container .item{
  padding: 50px;
  background: wheat;
  border-radius: 15px;
  margin: 10px;
}

.container2{
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 420px;
  background: gold;
  align-items: center;
}

.container2 .card{
  width: 220px;
  height: 320px;
  background-image: url(./car-race-gd488e7722_1920.jpg);
  background-repeat: no-repeat;
  border-radius: 5px;
  background-size: cover;
}